# Override some defaults to enable SLIP
CONFIG_LWIP_SLIP_SUPPORT=y
CONFIG_LWIP_IP_FORWARD=y
CONFIG_ESP_INT_WDT=y
CONFIG_ESP_INT_WDT_TIMEOUT_MS=2500
CONFIG_ESP_TASK_WDT=y
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240

